/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUENTES GENERALES */
body {
    font-family: Arial, sans-serif;
}

/* ENCABEZADO */
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    letter-spacing: 10px;
}

.botones img {
    margin-left: 15px;
    background-color: white;
}

/* CONTENEDOR PRINCIPAL */
.contenedor {
    display: flex;
    min-height: calc(100vh - 60px); /* resto del header */
}

/* MENÚ LATERAL */
.menu-lateral {
    width: 300px;
    background-color: orange;
    color: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-lateral .opcion {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid white;
    font-size: 18px;
    cursor: pointer;
}

.menu-lateral .opcion:hover {
    background-color: #e69500;
}

/* DASHBOARD */
.dashboard {
    flex: 1;
    background-color: green;
    padding: 20px;
    color: white;
}

.dashboard h1 {
    margin-bottom: 20px;
    letter-spacing: 5px;
}

/* CAJAS */
.caja {
    background-color: white;
    border: 1px solid black;
    margin-bottom: 20px;
    height: 60px;
}
